<h1 class="text-center">Registration</h1>
<div class="container">
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-10">
        <label for="validationCustom04" class="form-label">Business Type:</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
    <div class="col-md-5">
      <label for="validationCustom01" class="form-label">Email:</label>
      <input type="text" class="form-control" id="validationCustom01" value="username@server.com" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-5">
      <label for="validationCustom02" class="form-label">Contact Number:</label>
      <input type="text" class="form-control" id="validationCustom02" value="(+63)9xxxxxxxxx" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-5">
        <label for="validationCustom01" class="form-label">Firstname:</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    <div class="col-md-5">
        <label for="validationCustom01" class="form-label">lastname:</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="col-md-5">
        <label for="validationCustom01" class="form-label">Address 1:</label>
        <input type="text" class="form-control" id="validationCustom01" value="House number,apartment,studio, or floor" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="col-md-5">
        <label for="validationCustom04" class="form-label">City:</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
    </div>
    <div class="col-md-5">
        <label for="validationCustom04" class="form-label">State/Province</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
    </div>
    <div class="col-md-5">
        <label for="validationCustom04" class="form-label">Country</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>
