<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <nav class="navbar bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../assets/Wow-gif.gif" alt="Bootstrap" width="50" height="30">
          </a>
        </div>
      </nav>
      <a class="navbar-brand" href="#">Vogel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="seller_page">Seller Page</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" routerLink="products_lists">Products List</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" routerLink="product_details">Product Details</a>
		  </li>
		</ul>	

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Login
          </button>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">LOGIN</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Username:</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Username">
                      </div>
        
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password:</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password">
                      </div>
                     
        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Login</button>
                </div>
              </div>
            </div>
          </div>
        
              </div>
            </div>
          </nav>
