<div class="card" style="width: 85rem;">
  <div class="card-body">
    <div class="container-fluid">

      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email:</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
  
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
  </div>
  </div>
</div>
